$primary-text-color: #262626;
$secondary-text-color: #ffffff;
$grey-text-color: #b9b9b9;
$red: #ff2a58;
$orange: #ff6033;
$blog-button-color: #f72b3b;
$green-button-color: #96b92c;
$blue-button-color: #5585a2;
$green-form-color: #00c4c4;
$blue-border: #355b82;
$background-color-green: #06bbbb;
$background-color-blue: #70bfff;
$background-color-yellow: #ffe92f;
$background-color-violet: #b07cf7;
