@import "colors";
@import "fonts";
@import "normalize";
@import "bootstrap-grid.min.scss";
@import "bootstrap-utilities.min.scss";
@mixin not-last {
  &:not(:last-child) {
    @content;
  }
}
@mixin center {
  text-align: center;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin media-padding-md {
  padding-top: 50px;
  padding-bottom: 50px;
}
* {
  margin: 0;
  padding: 0;
  font-family: $raleway;
  box-sizing: border-box;
  font-style: normal;
}

.wrapper {
  margin: 0 auto;
}
main,
footer {
  transition: transform cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.6s;
}

.home {
  background: url(../img/header-bg.png) center center no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 1000px;
  padding-top: 50px;
  position: relative;

  &__content {
    color: $primary-text-color;
    margin-top: 280px;
    margin-bottom: 370px;
  }

  &__text {
    margin-top: 15px;
    margin-bottom: 28px;
  }
}

a {
  text-decoration: none;
}
.image {
  width: 100%;
  height: 100%;
}

.menu {
  &__list {
    list-style: none;
    display: flex;
    align-items: baseline;
  }

  &__item {
    padding-top: 2px;

    &:not(:last-child) {
      margin-right: 36px;
    }

    &--active,
    &:hover {
      border-top: 3px solid $orange;
    }
  }
}

.item__link {
  font-weight: bold;
  font-style: 16px;
  line-height: 27px;
  color: $primary-text-color;
}

.title {
  font-weight: bold;
  font-size: $font-title;
  line-height: $height-title;

  &--white {
    color: $secondary-text-color;
  }

  &--small {
    font-weight: 900;
    font-size: $font-title-small;
    line-height: $height-title-small;
  }
  &--smaller {
    font-weight: bold;
    font-size: $font-title-smaller;
    line-height: $height-title-smaller;
  }
}

.text {
  font-weight: 300;
  font-size: $font-text;
  line-height: $height-text;

  &--white {
    color: $secondary-text-color;
  }
}

.button {
  display: inline-block;
  text-decoration: none;
  min-width: 200px;
  padding: 16px 25px;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: $secondary-text-color;
  border: none;
  @include center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);

  &--orange {
    background-color: $orange;

    &:hover {
      background-color: $secondary-text-color;
      color: $orange;
      box-shadow: 0 0 1px 1px $orange;
    }
  }

  &--darkorange {
    background-color: $blog-button-color;

    &:hover {
      background-color: $secondary-text-color;
      color: $blog-button-color;
      box-shadow: 0 0 1px 1px $blog-button-color;
    }
  }

  &--blue {
    background-color: $blue-button-color;

    &:hover {
      color: $blue-button-color;
      background-color: $secondary-text-color;
      box-shadow: 0 0 1px 1px $blue-button-color;
    }
  }

  &--green {
    background-color: $green-button-color;

    &:hover {
      cursor: pointer;
      background-color: $secondary-text-color;
      color: $green-button-color;
      box-shadow: 0 0 1px 1px $green-button-color;
    }
  }
}

.scroll {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 70px;
}

.about {
  background-color: $background-color-green;
  padding-top: 20px;
  padding-bottom: 20px;

  &__img {
    margin-left: -70px;
  }

  &__content {
    @include flex-column();
    height: 100%;
    justify-content: center;
  }

  &__title,
  &__text {
    margin-bottom: 14px;
  }
}

.services {
  background-color: $background-color-blue;
  padding-top: 165px;
  padding-bottom: 165px;

  &__image {
    background: url(../img/tomatoes.png) right center no-repeat;
    background-size: contain;
  }

  &__item {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    background-color: $secondary-text-color;

    @include not-last() {
      margin-bottom: 20px;
      position: relative;
    }
  }
  &__item:hover &__button,
  &__item:hover {
    cursor: pointer;
    background-color: darken($color: #fff, $amount: 7%);
  }

  &__list {
    display: inline-block;
    font-family: $icomoon;
    font-size: 45px;
  }
  &__button {
    @include center();
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    height: 100px;
    width: 75%;
    background-color: $secondary-text-color;
    border: none;
    border-right: 1px solid rgb(180, 180, 180);
  }
  &__title {
    display: inline-block;
    height: 100%;
  }
}
.icon {
  &-Cart:hover {
    color: $background-color-violet;
  }
  &-Plant:hover {
    color: $background-color-green;
  }
  &-Planet:hover {
    color: $background-color-blue;
  }
  &-Carrot:hover {
    color: $orange;
  }
}
.list-image__wrapper {
  text-align: center;
  width: 100px;
}
.gallery {
  background-color: $background-color-yellow;
  padding-top: 92px;
  padding-bottom: 142px;

  &__header {
    @include center();
  }

  &__text {
    margin: 30px auto 50px;
  }

  &__container {
    margin-bottom: 50px;
  }
  &__photo-1 {
    height: 100%;
  }

  & img:hover {
    box-shadow: (0px 4px 10px rgba(0, 0, 0, 0.5));
    transition: all 0.3s;
  }

  &__button {
    @include center();
  }
}

.subscribe {
  background: url(../img/subsc-bg.png) center center no-repeat;
  background-size: cover;
  padding-top: 145px;
  padding-bottom: 145px;

  &__title {
    margin-bottom: 20px;
  }
  &__text {
    padding-bottom: 30px;
  }
  &__form input {
    width: 65%;
    margin-right: 30px;
    padding-left: 15px;
    height: 55px;

    &:focus {
      border: 2px solid $green-button-color;
      border-radius: 3px;
      outline: none;
    }
    &[placeholder] {
      font-weight: 300;
      font-style: 15px;
      line-height: 18px;
    }
  }
}
.blog {
  background-color: $background-color-violet;
  padding-top: 92px;
  padding-bottom: 92px;

  &__header {
    @include center();
  }
  &__title {
    margin-bottom: 30px;
  }
  &__text {
    margin: 0 auto 50px;
  }
  &__container {
    margin-bottom: 50px;
  }
  &__article-1 {
    background: url(../img/blog-thumbnail.png) center center no-repeat;

    &:hover {
      background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 50%,
          rgba(0, 0, 0, 0.9) 100%
        ),
        url(../img/blog-thumbnail.png) center center no-repeat;
      background-size: cover;
    }
  }
  &__article-2 {
    background: url(../img/blog-thumbnail2.png) center center no-repeat;

    &:hover {
      background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 50%,
          rgba(0, 0, 0, 0.9) 100%
        ),
        url(../img/blog-thumbnail2.png) center center no-repeat;
      background-size: cover;
    }
  }
  &__article-3 {
    background: url(../img/blog-thumbnail3.png) center center no-repeat;

    &:hover {
      background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 50%,
          rgba(0, 0, 0, 0.9) 100%
        ),
        url(../img/blog-thumbnail3.png) center center no-repeat;
      background-size: cover;
    }
  }
  &__date-block {
    @include center();
    position: absolute;
    width: 60px;
    height: 60px;
    top: 30px;
    left: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    display: flex;
    align-items: center;
  }
  &__article-title {
    font-weight: bold;
    font-style: 20px;
    line-height: 23px;
    margin-bottom: 10px;
  }
  &__article-author {
    font-weight: 300;
    font-style: 13px;
    line-height: 15px;
  }
  &__button {
    @include center();
  }
}
.article {
  @include flex-column();
  background-size: cover;
  height: 310px;
  box-shadow: 2px 2px 5px #00000050;
  position: relative;
  justify-content: flex-end;
  padding: 20px;
  color: $secondary-text-color;
}

.date-block {
  font-weight: bold;
  font-size: 32px;
  line-height: 19px;
  color: $secondary-text-color;

  & span {
    font-weight: 900;
    font-size: 21px;
    line-height: 15px;
    text-transform: uppercase;
  }
}
.contact {
  background: url(../img/contact-bg.png) center center no-repeat;
  background-size: cover;
  padding-top: 92px;
  padding-bottom: 92px;

  &__header {
    @include center();
  }
  &__title {
    margin-bottom: 30px;
  }
  &__text {
    margin: 0 auto 50px;
  }
}
.footer__form {
  & input,
  & textarea {
    width: 100%;
    background: $green-form-color;
    opacity: 0.5;
    border: none;
    &::-webkit-input-placeholder {
      color: $secondary-text-color;
    }
    &:focus {
      background-color: $green-form-color;
      opacity: 1;
      font-weight: bold;
      font-style: 15px;
      line-height: 18px;
      color: $secondary-text-color;
      border-left: 5.5px solid $blue-border;
      outline: none;
    }
    &[placeholder] {
      padding-left: 22px;
      font-style: 15px;
      line-height: 18px;
    }
  }
  & textarea {
    resize: none;
    &[placeholder] {
      padding-top: 16px;
    }
  }
  & input {
    @include not-last() {
      margin-bottom: 15px;
      height: 50px;
    }
  }
}
.footer {
  &__container {
    font-weight: 300;
    font-style: 16px;
    line-height: 19px;
    color: $grey-text-color;
  }
  &__bottom-line {
    background-color: $primary-text-color;
    padding-top: 35px;
    padding-bottom: 35px;
  }
  &__author span {
    font-weight: 700;
    color: $red;
  }
  &__button {
    margin-top: 10px;
  }
}
.info {
  &-list {
    list-style: none;
  }
  &-item {
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 16px;
    & a {
      color: $primary-text-color;
    }
  }
  &__title {
    font-weight: bold;
  }
  &__text {
    font-weight: 400;
  }
}

.burger {
  display: none;
  outline: 0;
  background: none;
  width: 42px;
  height: 24px;
  border: 0;
  padding: 0;
  margin: 0;
  position: relative;
  cursor: pointer;
  z-index: 1;

  span,
  &::before,
  &::after {
    content: "";
    display: block;
    border-radius: 50%;
    width: 100%;
    height: 2px;
    background-color: $primary-text-color;
    transition: transform 0.6s;
  }

  &::before {
    top: 0;
    position: absolute;
  }

  &::after {
    bottom: 0;
    position: absolute;
  }
}

.mobile {
  &-menu {
    position: fixed;
    top: 86px;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: 999;
    pointer-events: none;
    display: none;
  }

  // .menu-open &-menu {
  //   opacity: 1;
  //   pointer-events: initial;
  //   transform: translateX(0);
  // }

  &__list {
    margin: 0 auto;
    list-style: none;
    text-align: center;
    letter-spacing: 0.1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 100%;
    margin: 0;
    opacity: 0;
    border-bottom: 1px solid lighten($color: #ffe8db, $amount: 20%);
    border-top: 1px solid lighten($color: #ffe8db, $amount: 20%);
    border-right: 2px solid lighten($color: #ffe8db, $amount: 20%);
    border-left: 2px solid lighten($color: #ffe8db, $amount: 20%);
    transform: translateX(100%);
    pointer-events: initial;

    &--1 {
      transition: all ease-in-out 0.2s;
      background: transparentize($color: #ffe8e8, $amount: 0.2);
    }
    &--2 {
      transition: all ease-in-out 0.4s;
      background-color: transparentize($color: #ffdbdb, $amount: 0.2);
    }
    &--3 {
      transition: all ease-in-out 0.6s;
      background-color: transparentize($color: #ffc8c8, $amount: 0.2);
    }
    &--4 {
      transition: all ease-in-out 0.8s;
      background-color: transparentize($color: #ffbcbc, $amount: 0.2);
    }
    &--5 {
      transition: all ease-in-out 1s;
      background-color: transparentize($color: #ff9e9e, $amount: 0.2);
    }
    &--6 {
      transition: all ease-in-out 1.2s;
      background-color: transparentize($color: #ff9090, $amount: 0.2);
    }
  }
}

.menu-open {
  .mobile__item {
    overflow: hidden;
    opacity: 1;
    transform: translateX(0);
  }

  .burger {
    span {
      opacity: 0;
    }
    &::before {
      transform: rotate(45deg);
      top: 11px;
    }
    &::after {
      transform: rotate(-405deg);
      bottom: 11px;
    }
  }

  main,
  footer {
    transform: translateX(-30vw);
  }
}

@media (max-width: 1199.98px) {
  .mobile {
    &-menu {
      display: flex;
      &__item {
        width: 30vw;
      }
    }
  }
  .home {
    &__content {
      margin: 130px 0 180px;
    }

    &__header {
      background-color: transparentize($color: #fdf3f3, $amount: 0.2);
      border-bottom: 2px solid lighten($color: #ffe8db, $amount: 20%);
      position: fixed;
      z-index: 3;
      top: 0;
      left: 0;
      right: 0;
      padding: 15px 0;
    }
  }
  .services {
    &__title {
      text-align: right;
    }
  }

  .burger {
    display: block;
  }

  .menu {
    display: none;
  }

  .scroll {
    bottom: 20px;
  }
}

@media (max-width: 991.98px) {
  .home {
    &__content {
      margin: 100px 0 150px;
    }
  }

  .scroll {
    display: none;
  }
  .services {
    @include media-padding-md();
    &__title {
      text-align: center;
      font-size: $font-title - 20px;
    }

    &__button {
      font-size: 15px;
      line-height: 20px;
      height: 75px;
    }
    &__icon {
      font-size: 32px;
    }
  }

  .gallery {
    @include media-padding-md();
  }
  .subscribe {
    @include media-padding-md();
  }
  .blog {
    @include media-padding-md();
    &__container {
      margin: 0;
    }
  }

  .article {
    margin-bottom: 20px;
  }
  .contact {
    @include media-padding-md();
  }
}

@media (max-width: 767.98px) {
  .title {
    font-size: $font-title - 20px;
    line-height: $height-title - 20px;

    &--small {
      font-size: $font-title-small - 10px;
      line-height: $height-title-small - 10px;
    }
    &--smaller {
      font-size: $font-title-smaller - 5px;
      line-height: $height-title-small - 5px;
    }
  }

  .text {
    font-size: $font-text;
    line-height: $height-text - 1px;
  }
  .services {
    text-align: center;

    &__image {
      background-image: none;
    }

    &__title {
      text-align: center;
      margin-bottom: 20px;
    }
    &__menu {
      margin-top: 30px;
    }
    &__icon {
      font-size: 30px;
    }
  }
  .subscribe {
    background: url(../img/subsc-bg-small.png) center center no-repeat;
    background-size: contain;
    text-align: center;
    // &__text {
    //   .text {
    //     font-weight: bolder;
    //   }
    // }

    &__background {
      background-color: rgba(255, 255, 255, 0.7);
    }

    &__form input {
      margin: 0;
    }
    &__button {
      margin-top: 20px;
    }
  }
  .gallery {
    &__container {
      margin-bottom: 15px;
    }
  }

  .contact {
    &__info {
      margin-bottom: 20px;
      text-align: center;
    }
  }
  .info-item {
    margin-bottom: 0;
  }

  .footer__form {
    text-align: center;
  }
}

@media (max-width: 575.98px) {
  .mobile__item {
    width: 200px;
  }

  .menu-open {
    main,
    footer {
      transform: translateX(-200px);
    }
  }
  .title {
    font-size: $font-title - 30px;
    line-height: $height-title - 30px;

    &--small {
      font-size: $font-title-small - 20px;
      line-height: $height-title-small - 15px;
    }
    &--smaller {
      font-size: $font-title-smaller - 7px;
      line-height: $height-title-smaller - 7px;
    }
  }

  .text {
    font-size: $font-text - 1px;
    line-height: $height-text - 3px;
  }
  .about__img {
    margin-left: 0;
  }
}
