* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  box-sizing: border-box;
}

.container {
  width: 1140px;
}

.wrapper {
  margin: 0 auto;
}

.home__wrapper {
  background: url(../img/header-bg.png);
  min-height: 1000px;
  padding-top: 50px;
  position: relative;
}

.home__header {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

.menu__list {
  display: flex;
  align-items: baseline;
}

.menu__item {
  padding-top: 2px;
}

.menu__item:not(:last-child) {
  margin-right: 36px;
}

.menu__item--active,
.menu__item:hover {
  border-top: 3px solid #ff6033;
}

.item__link {
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
  color: #262626;
}

.home__content {
  color: #262626;
  margin-top: 282px;
}

.home__text {
  margin-top: 15px;
  margin-bottom: 28px;
}

.title--small {
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;
}

.text {
  font-weight: 300;
  font-size: 17px;
  line-height: 27px;
}

.button {
  display: inline-block;
  text-decoration: none;
  min-width: 200px;
  padding: 16px 25px;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.button--orange {
  background-color: #ff6033;
}

.button--orange:hover {
  background-color: #fff;
  color: #ff6033;
  box-shadow: 0 0 1px 1px #ff6033;
}

.scroll {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 70px;
}

.about__wrapper {
  background-color: #00b1b1;
  padding-top: 21px;
  padding-bottom: 20px;
}

.about__img {
  margin-left: -69px;
}

.about__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__title {
  margin-bottom: 14px;
}

.title {
  font-weight: bold;
  font-size: 90px;
  line-height: 106px;
}

.title--white {
  color: #fff;
}

.about__text {
  margin-bottom: 14px;
}

.text--white {
  color: #fff;
}

.services__wrapper {
  background-color: #70bfff;
  padding-top: 165px;
  padding-bottom: 165px;
}

.services__item {
  width: 400px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  background-color: #fff;
}

.services__item:not(:last-child) {
  margin-bottom: 20px;
  position: relative;
}

.services__item:hover .services__button,
.services__item:hover {
  cursor: pointer;
  background-color: rgb(238, 237, 237);
}

.list-image__wrapper {
  text-align: center;
  width: 100px;
}

.services__list-image {
  display: inline-block;
}

.services__button {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  height: 100px;
  width: 300px;
  background-color: #fff;
  border: none;
  border-right: 1px solid rgb(180, 180, 180);
}

.services__image {
  display: flex;
  justify-content: flex-end;
}

.services__title-wrapper {
  position: relative;
}

.services__title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.gallery__wrapper {
  background-color: #ffe92f;
  padding-top: 92px;
  padding-bottom: 142px;
}

.gallery__header {
  text-align: center;
}

.gallery__text {
  width: 630px;
  margin: 30px auto 50px;
}

.gallery__container * {
  padding: 0;
}

.gallery__photo img {
  display: block;
  width: 100%;
  height: 100%;
}

.gallery__photo-2-3 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gallery__row-2 {
  padding-bottom: 50px;
}

.gallery__button {
  text-align: center;
}

.button--blue {
  background-color: #5585a2;
  border: 1px solid hidden;
}

.button--blue:hover {
  color: #5585a2;
  background-color: #fff;
  box-shadow: none;
  box-shadow: 0 0 1px 1px#5585a2;
}

.subscribe__wrapper {
  background-image: url(../img/subsc-bg.png);
  padding-top: 144px;
  padding-bottom: 144px;
}

.subscribe__title {
  margin-bottom: 20px;
}

.title--smaller {
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
}

.subscribe__text {
  padding-bottom: 30px;
}

.subscribe__form input {
  width: 50%;
  margin-right: 30px;
  padding-left: 15px;
  height: 55px;
}

.subscribe__form input:focus {
  border: 2px solid #96b92c;
  border-radius: 3px;
  outline: none;
}

.subscribe__form input[placeholder] {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.5);
}

.button--green {
  background-color: #96b92c;
  border: none;
}

.button--green:hover {
  cursor: pointer;
  background-color: #fff;
  color: #96b92c;
  box-shadow: 0 0 1px 1px#96b92c;
}

.blog-wrapper {
  background-color: #b07cf7;
  padding-top: 92px;
  padding-bottom: 92px;
}

.blog__header {
  text-align: center;
}

.blog__title {
  margin-bottom: 30px;
}

.blog__text {
  width: 600px;
  margin: 0 auto 50px;
}

.blog__container {
  margin-bottom: 50px;
}

.article {
  background-size: cover;
  height: 310px;
  box-shadow: 2px 2px 5px #00000050;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  color: #ffffff;
}

.blog__article-1 {
  background: url(../img/blog-thumbnail.png) center center no-repeat;
}
.blog__article-1:hover {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url(../img/blog-thumbnail.png) center center no-repeat;
}

.blog__article-2 {
  background: url(../img/blog-thumbnail2.png) center center no-repeat;
}
.blog__article-2:hover {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url(../img/blog-thumbnail2.png) center center no-repeat;
}

.blog__article-3 {
  background: url(../img/blog-thumbnail3.png) center center no-repeat;
}
.blog__article-3:hover {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url(../img/blog-thumbnail3.png) center center no-repeat;
}

.blog__date-block {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 30px;
  left: 30px;
  background: #26262650;
  border-radius: 4px;
  text-align: center;
  display: flex;
  align-items: center;
}

.date-block {
  font-weight: bold;
  font-size: 32px;
  line-height: 19px;
  color: #fff;
}
.date-block span {
  font-weight: 900;
  font-size: 21px;
  line-height: 15px;
  text-transform: uppercase;
}

.blog__article-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 10px;
}

.blog__article-author {
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
}

.blog__button {
  text-align: center;
}

.contact__wrapper {
  background-image: url(../img/contact-bg.png);
  padding-top: 92px;
  padding-bottom: 92px;
}

.contact__header {
  text-align: center;
}

.contact__title {
  margin-bottom: 30px;
}

.contact__text {
  width: 350px;
  margin: 0 auto 50px;
}

.footer__form input,
.footer__form textarea {
  width: 100%;
  background: rgba(0, 196, 196, 0.5);
  border: none;
}

.footer__form input::-webkit-input-placeholder,
.footer__form textarea::-webkit-input-placeholder {
  color: #fff;
}

.footer__form input:focus,
.footer__form textarea:focus {
  background-color: #00c4c4;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  border-left: 5.5px solid #355b82;
  outline: none;
}

.footer__form input:not(:last-child) {
  margin-bottom: 15px;
  height: 50px;
}

.footer__form input[placeholder],
.footer__form textarea[placeholder] {
  padding-left: 22px;
  font-size: 15px;
  line-height: 18px;
}

.footer__form textarea[placeholder] {
  padding-top: 16px;
}

.footer__bottom-line {
  background-color: #262626;
  padding: 36px 150px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}
